---
import IconifyIcon from "./IconifyIcon.vue";
import * as m from "../paraglide/messages";
import { localizeHref } from "../paraglide/runtime";
---

<footer class="footer sm:footer-horizontal bg-base-100 text-base-content p-20">
  <aside>
    <img src="/logobar.png" alt="ITSC Logo" class="w-60 mb-4" loading="lazy" />
    <p class="text-lg font-bold">
      {m.itsc_department()}<br />{m.university_name()}
    </p>
    <div class="flex gap-4 mt-4">
      <a
        href="https://www.facebook.com/rsu.itsc"
        target="_blank"
        aria-label="Facebook"
      >
        <IconifyIcon
          icon="logos:facebook"
          className="w-10 h-10"
          client:visible
        />
      </a>
      <a
        href="https://www.youtube.com/channel/UC060f4K0IdNMtTyBW1d6znA"
        target="_blank"
        aria-label="YouTube"
      >
        <IconifyIcon
          icon="logos:youtube-icon"
          className="w-10 h-10"
          client:visible
        />
      </a>
    </div>
  </aside>
  <nav>
    <h6 class="footer-title">{m.common_contact()}</h6>
    <p>{m.itsc_address()}</p>
    <p>{m.itsc_address2()}</p>
    <p>{m.itsc_address3()}</p>
    <p>{m.itsc_phone()}</p>
    <p>
      {m.itsc_mail()}
      <a href="mailto:helpdesk@rsu.ac.th" class="link link-hover"
        >helpdesk@rsu.ac.th</a
      >
    </p>
  </nav>
  <nav>
    <h6 class="footer-title">{m.common_menu()}</h6>
    <a href={localizeHref("/service")} class="link link-hover"
      >{m.common_service()}</a
    >
    <a href={localizeHref("/guide")} class="link link-hover"
      >{m.common_docs()}</a
    >
    <a href={localizeHref("/techtips")} class="link link-hover"
      >{m.common_techtips()}</a
    >
    <a href={localizeHref("/news")} class="link link-hover">{m.common_news()}</a
    >
    <a href={localizeHref("/resources")} class="link link-hover"
      >{m.common_forms()}</a
    >
    <a href={localizeHref("/about")} class="link link-hover"
      >{m.common_about()}</a
    >
  </nav>
</footer>
<footer
  class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4"
>
  <aside>
    <p>
      Copyright © {new Date().getFullYear()} All rights reserved by ITSC.
      <br /><a href="https://astro.build/" class="link link-hover"
        >Made with Astro 🚀</a
      >
    </p>
  </aside>
</footer>
